/* pop up */
.popup {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    transition: all 0.8s ease 0s;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .popup.active {
    visibility: visible;
    opacity: 1;
  }
  .popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup_content {
    background-color: #39567d;
    max-width: 800px;
    padding: 30px;
    position: relative;
    /* transition: all 0.8s ease 0s; */
  }
  .popup_content_form {
    padding: 50px;
  }
  
  .popup.active.popup_content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
  }
  .popup .popup_close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 0ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .popup_close:hover {
    color: #fff;
  }

  /* nav-toggle */

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    font-size: 0;
    display: none;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
  }
  
  .nav-toggle:focus {
    outline: 0;
  }
  
  .nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* transition: background 0.2s linear; */
    transition: all 0.3s ease-in-out;
  }
  
  .nav-toggle.active .nav-toggle_item {
    background: none;
  }
  
  .nav-toggle_item:before,
  .nav-toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #cc2626;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  
  .nav-toggle_item:before {
    top: -8px;
  }
  
  .nav-toggle_item:after {
    bottom: -8px;
  }
  
  .nav-toggle.active .nav-toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
  }
  
  .nav-toggle.active .nav-toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
  }
  @media screen and (max-width: 770px) {
    .container {
      max-width: 1030px;
      margin: 0 auto;
      padding: 0 35px;
    }
    .header_page {
      padding: 10px 30px 0 30px;
    }
    .header_text {
      font-size: 22px;
      padding: 10px 0;
      width: 50%;
    }
    .header_page_text2 {
      padding-bottom: 10px;
      font-size: 15px;
      display: none;
    }
  
    .homepage_title {
      padding: 35px 40px 20px 40px;
  
      font-size: 30px;
    }
    .title_logo:after {
      margin-top: 10px;
    }
    .homepage {
      padding: 40px 30px 30px 30px;
    }
    .header_inner_photo {
      height: 170px;
      top: 94%;
    }
  
    .homepage_icons {
      flex-wrap: wrap;
      justify-content: center;
    }
    .homepage_icons_group {
      min-width: 130px;
      padding: 10px;
    }
  
    /* Nav */
    .header_inner_nav {
      display: none;
      width: 100%;
      position: absolute;
      top: 16%;
      left: 22px;
      line-height: 20px;
      z-index: 100;
      background-color: #009fda;
      /* background: linear-gradient(
        90deg,
        rgba(0, 159, 218, 0.83) 8.53%,
        rgba(55, 81, 114, 0) 100%
      ); */
    }
    .header_inner_nav.active {
      display: block;
    }
  
    .nav-toggle {
      display: block;
    }
    .nav_link {
      display: block;
      margin: 0;
      padding: 3px 20px;
    }
    .nav_link::after {
      content: "";
      display: block;
      width: 40%;
      height: 3px;
      opacity: 0;
      position: absolute;
      background-color: #000;
      top: 100%;
      left: 5%;
      z-index: 1;
      transition: opasity 0.1s linear;
    }
}